name: Prepare release

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to release from"
        required: true
        default: "main"
      releaseVersion:
        description: "Release version"
        required: true
      nextDevelopmentVersion:
        description: "Next development version"
        required: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with: 
          ref: ${{ github.event.inputs.branch }}
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Cache Maven
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Build
        run: mvn --no-transfer-progress -B --file pom.xml verify

  tag:
    name: Tag
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.branch }}
          token: ${{ secrets.GIT_TOKEN }}
          fetch-depth: 0
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Cache Maven
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Create tag
        run: |
          BRANCH=${{ github.event.inputs.branch }}
          RELEASE_VERSION=${{ github.event.inputs.releaseVersion }}
          NEXT_DEVELOPMENT_VERSION=${{ github.event.inputs.nextDevelopmentVersion }}
          echo "Releasing $RELEASE_VERSION from $BRANCH branch"
          mvn -B versions:set versions:commit -DnewVersion=$RELEASE_VERSION -DprocessAllModules=true
          git config --global user.email "archifacts-release-bot@archifacts.org"
          git config --global user.name "archifacts-release-bot"
          git commit -a -m "Releasing version $RELEASE_VERSION"
          git tag v$RELEASE_VERSION
          echo "Preparing next development version $NEXT_DEVELOPMENT_VERSION for $BRANCH branch"
          mvn -B versions:set versions:commit -DnewVersion=$NEXT_DEVELOPMENT_VERSION -DprocessAllModules=true
          git commit -a -m "Upgrading version to $NEXT_DEVELOPMENT_VERSION"
          git push origin $BRANCH
          git push origin v$RELEASE_VERSION
