name: maven build on push

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: 
      contents: read
      packages: write 
    strategy:
      fail-fast: false
      matrix:
        archunit-version: ['0.22.0', '0.21.0', '0.20.1', '0.20.0', '0.19.0', '0.18.0', '0.17.0', '0.16.0']
        
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: 'maven'
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots verify -Darchunit.version=${{ matrix.archunit-version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
