name: verify on push

on:
  push:
    branches:
    - '**' 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: 
      contents: read
      packages: write 
    strategy:
      fail-fast: false
      matrix:
        archunit-version: ['1.0.1', '1.1.0']
        java: [ '8', '11', '17', '21' ]
        
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'microsoft'
          cache: 'maven'
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots verify -Darchunit.version=${{ matrix.archunit-version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
